<section class="cid-qTkA127IK8 mbr-fullscreen" id="header2-1">
  <div class="container align-center">
      <div class="row justify-content-md-center">
          <div class="mbr-white col-md-10">
              <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1" style="color: #fff">Immerce</h1>
              <p class="mbr-text pb-3 mbr-fonts-style display-7" style="color: #fcfcfc">A platform that aims to provide a shopping experience by leveraging the interactive hallmarks of augmented reality</p>
              <div class="mbr-section-btn">
                  <a class="btn btn-md btn-white display-4" [routerLink]="['company-registration']">Register</a>
                  <a class="btn btn-md btn-primary display-4" [routerLink]="['login']">Login</a>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="features1 cid-rmKxKt0e0p" id="features1-9">
  <div class="container">
      <div class="media-container-row">
          <div class="card p-3 col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                  <span class="mbr-iconfont mbri-shopping-bag" style="color: rgb(103, 119, 239);"></span>
              </div>
              <div class="card-box">
                  <h4 class="card-title py-3 mbr-fonts-style display-5">Easy Shopping</h4>
                  <p class="mbr-text mbr-fonts-style display-7">Immerce aims to bring elevated&nbsp;convenience&nbsp;to&nbsp;already growing and familiar online shopping ecosystem</p>
              </div>
          </div>
          <div class="card p-3 col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                  <span class="mbr-iconfont mbri-touch" style="color: rgb(103, 119, 239);"></span>
              </div>
              <div class="card-box">
                  <h4 class="card-title py-3 mbr-fonts-style display-5">Interactive</h4>
                  <p class="mbr-text mbr-fonts-style display-7">Immerce aims to provide a whole new level of interaction where users can view an item in their own vicinity</p>
              </div>
          </div>
          <div class="card p-3 col-12 col-md-6 col-lg-4">
              <div class="card-img pb-3">
                  <span class="mbr-iconfont mbri-extension" style="color: rgb(103, 119, 239);"></span>
              </div>
              <div class="card-box">
                  <h4 class="card-title py-3 mbr-fonts-style display-5">
                      Peculiar</h4>
                  <p class="mbr-text mbr-fonts-style display-7">Our platform shines when it comes to delivering unique vusion of the onine market with awesome features of augmented reality</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="mbr-section content4 cid-rmKxktGmua" id="content4-6">
  <div class="container">
      <div class="media-container-row">
          <div class="title col-12 col-md-8">
              <h2 class="align-center pb-3 mbr-fonts-style display-2" style="font-size: 2.98em">What's Augmented Reality?</h2>
              <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                  Immerce aims to provide an interactive platform that uses AR</h3>
          </div>
      </div>
  </div>
</section>
<section class="mbr-section article content1 cid-rmKxlCbK6r" id="content2-7">
  <div class="container">
      <div class="media-container-row">
          <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
              <blockquote>
                  <p>
The word "augment" means to increase, extend, or make better. Augmented reality (AR) can be understood as a form of virtual reality (VR) where the real world is expanded or enhanced through the use of virtual elements, usually overlaying those elements on the view of the real world through the use of a visual device.</p>
                  <p><strong>AR</strong> can work in several different ways and is used for many different reasons, but in most cases AR virtual objects are overlaid on and tracked in a view of the real world, creating the illusion that they occupy the same space. AR devices have a display, input device, sensor, and processor. These devices can be monitors, head-mounted displays, eyeglasses, contact lenses, gaming consoles, and even smartphones, among others. Sound and touch feedback can be included in an AR system as well as through other non-visual methods and devices.</p>
              </blockquote>
          </div>
      </div>
  </div>
</section>
<section class="features11 cid-rmKAhHgP2D" id="features11-d">
  <div class="container">
      <div class="col-md-12">
          <div class="media-container-row">
              <div class="mbr-figure" style="width: 50%;">
                  <img src="../assets/index_modules/images/diffrent-lens.svg" alt="Mobirise" title="">
              </div>
              <div class=" align-left aside-content">
                  <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Augmented View</h2>
                  <div class="mbr-section-text">
                      <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5"> Your scene is a blend of your familiar surroundings with a new virtual world. That's what we call augmented!</p>
                  </div>
                  <div class="block-content">
                      <div class="card p-3 pr-3">
                          <div class="media">
                              <div class=" align-self-center card-img pb-3">
                                  <span class="mbr-iconfont mbri-website-theme"></span>
                              </div>
                              <div class="media-body">
                                  <h4 class="card-title mbr-fonts-style display-7" style="font-size: 1.15em;">Yes! We make the 3D Models too</h4>
                              </div>
                          </div>
                          <div class="card-box">
                              <p class="block-text mbr-fonts-style display-7">
                                  AR uses 3D models which are fused into your surrounding - elevating your scene. If you're a supplier, we make one or more 3D models of your items so that your customers can view and appreciate your product virually</p>
                          </div>
                      </div>
                      <div class="card p-3 pr-3">
                          <div class="media">
                              <div class="align-self-center card-img pb-3">
                                  <span class="mbri-drag-n-drop2 mbr-iconfont"></span>
                              </div>
                              <div class="media-body">
                                  <h4 class="card-title mbr-fonts-style display-7" style="font-size: 1.15em;">Step into a new scene through your camera lens</h4>
                              </div>
                          </div>
                          <div class="card-box">
                              <p class="block-text mbr-fonts-style display-7">
                                  You can interact and view items from multiple angles of a scene through a smartphone camera</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="mbr-section content7 cid-rmKMalsrxb" id="content7-e">
  <div class="container">
      <div class="media-container-row">
          <div class="col-12 col-md-8">
              <div class="media-container-row">
                  <div class="media-content">
                      <div class="mbr-section-text">
                          <p class="mbr-text align-right mb-0 mbr-fonts-style display-7 text-right"> Our whole strategy is user satisfaction. We care for our users as you care for your products. We incorporate Augmented Reality and multiple local payment gateways to increase the probability of an item to be purcased. What makes us unique is that we strive to provide the ultimate home appliance shopping experiance for our customers while we buld you - the supplier a virtual empire of endless possibilities </p>
                      </div>
                  </div>
                  <div class="mbr-figure" style="width: 60%;">
                      <img src="../assets/index_modules/images/whole-new-scene.svg" alt="Mobirise" title="" width="500">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="mbr-section form1 cid-rmKz54Eyz0" id="form1-c">
  <div class="container">
      <div class="row justify-content-center">
          <div class="title col-12 col-lg-8">
              <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                  CONTACT US</h2>
              <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">If you want to work with Immerce or have any questions, we're a text away.&nbsp;</h3>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row justify-content-center">
          <div class="media-container-column col-lg-8" data-form-type="formoid">
              <div data-form-alert="" hidden="">
                  Thanks for filling out the form!
</div>
              <form [formGroup]="landingForm" class="mbr-form" action="#/" method="post" data-form-title="Mobirise Form">
                  <input type="hidden" name="email" data-form-email="true" value="3OSGAIAwgbXU+N2i6TRgMZDfvfJsHhZtPcTqJW8g4JcQnNyY37KbXW1Pxpxv2+vxz99K2EOT4ejB39r/qvHcVGZj/7ZtKphxj7HXAmJbdRxR2n1fssLRi/BmNcBlJgBO" data-form-field="Email">
                  <div class="row row-sm-offset">
                      <div class="col-md-4 multi-horizontal" data-for="name">
                          <div class="form-group">
                              <label class="form-control-label mbr-fonts-style display-7" for="name-form1-c">Name</label>
                              <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-c" style="border-radius: 2px !important;">
                          </div>
                      </div>
                      <div class="col-md-4 multi-horizontal" data-for="email">
                          <div class="form-group">
                              <label class="form-control-label mbr-fonts-style display-7" for="email-form1-c">Email *</label>
                              <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-c" style="border-radius: 2px !important;">
                          </div>
                      </div>
                      <div class="col-md-4 multi-horizontal" data-for="phone">
                          <div class="form-group">
                              <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-c">Phone</label>
                              <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-c" style="border-radius: 2px !important;">
                          </div>
                      </div>
                  </div>
                  <div class="form-group" data-for="message">
                      <label class="form-control-label mbr-fonts-style display-7" for="message-form1-c">Message *</label>
                      <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-c" style="border-radius: 2px !important;"></textarea>
                  </div>
                  <span class="input-group-btn" style="text-align: justify;"><button href="" type="submit" class="btn btn-primary btn-form display-4" style="letter-spacing: 2px">Send</button></span>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="mbr-section article content10 cid-rmKxmZpgUc" id="content10-8">
  <div class="container">
      <div class="inner-container" style="width: 66%;">
          <hr class="line" style="width: 25%;">
          <div class="section-text align-center mbr-white mbr-fonts-style display-5">We're a platfom where shopping is elevated with the virtual world. If you're in home appliances business, you can widen your reach with the services we provide. Click on register. JOIN IMMERCE. </div>
          <hr class="line" style="width: 25%;">
      </div>
  </div>
</section>
<section class="cid-rmKz0gfup8" id="footer5-b">
  <div class="container">
      <div class="media-container-row">
          <div class="col-md-3">
              <div class="media-wrap">
                  <a href="#/">
                      <img src="../assets/index_modules/images/logo.svg" alt="Mobirise" title="">
                  </a>
              </div>
          </div>
          <div class="col-md-9">
              <p class="mbr-text align-right links mbr-fonts-style display-7"><a href="#" class="text-black" style="color: #888 !important; cursor: pointer">About</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="text-black" style="color: #888 !important; cursor: pointer">Terms</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="text-black" style="color: #888 !important; cursor: pointer">Help</a>&nbsp; &nbsp; &nbsp;&nbsp;<a href="#" class="text-black" style="color: #888 !important; cursor: pointer">Contact us</a></p>
          </div>
      </div>
      <div class="footer-lower">
          <div class="media-container-row">
              <div class="col-md-12">
                  <hr>
              </div>
          </div>
          <div class="media-container-row mbr-white">
              <div class="col-md-6 copyright">
                  <p class="mbr-text mbr-fonts-style display-7">
                      @Copyright 2019 Immerce - All Rights Reserved</p>
              </div>
              <div class="col-md-6">
                  <div class="social-list align-right">
                      <div class="soc-item">
                          <a href="#" target="_blank"><span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span></a>
                      </div>
                      <div class="soc-item">
                          <a href="#" target="_blank"><span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span></a>
                      </div>
                      <div class="soc-item">
                          <a href="#" target="_blank"><span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>