<div class="main-content">
  <section class="section" *ngIf="subadmin">
    <div class="section-header">
      <h1 >{{ subadmin.company_name }}</h1>
    </div>
    <div class="section-body">
      <div class="row" *ngIf="!subadmin.is_verified">
        <div class="col-md-12">
          <div class="hero align-items-center bg-info text-white">
            <div class="hero-inner text-center">
              <h2>Unverified Subcategory Administrator</h2>
              <p class="lead">{{ subadmin.company_name }} hasn't been verified!</p>
              <div class="mt-4">
                <a (click)="verify(subadmin)" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="fas fa-check-double"></i> Verify</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Subcategory Detail</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-6 col-12">
                  <label>Name</label>
                  <input type="text" class="form-control" value="{{ subadmin.subcategory_id.name }}" readonly>
                </div>
                <div class="form-group col-md-6 col-12">
                  <label>Registered on</label>
                  <input type="text" class="form-control" value="{{subadmin.created_at | date}}" readonly>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-12">
                  <label>Email</label>
                  <input type="email" class="form-control" value="{{ subadmin.user_id.email }}" readonly>
                </div>
                <div class="form-group col-md-6 col-12">
                  <label>Location</label>
                  <input type="text" class="form-control" value="{{ subadmin.location }}" readonly>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-12">
                  <label>Contact</label>
                  <input type="text" class="form-control" value="{{ subadmin.contact }}" readonly>
                </div>
                <div class="form-group col-md-6 col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" value="{{ subadmin.address }}" readonly>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea class="form-control summernote-simple" readonly>{{  subadmin.subcategory_id.description  }}</textarea>
                </div>
              </div>

              <ng-container *ngIf="subadmin.is_verified">
                <div class="row">
                    <ng-container *ngIf="!subadmin.is_terminated">
                        <div class="form-group col-12">
                            <button class="btn btn-danger btn-sm btn-icon" (click)="setTerminate(subadmin, 'true')">Terminate</button>
                        </div>                     
                    </ng-container>

                    <ng-container *ngIf="subadmin.is_terminated">
                        <div class="form-group col-12">
                            <button class="btn btn-success btn-sm btn-icon" (click)="setTerminate(subadmin, 'false')">Retain</button>
                        </div>                     
                    </ng-container>
                </div>

              </ng-container>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-toast></p-toast>
