<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
          <a href="index.html">PinThis</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
          <a href="index.html" style="text-transform: uppercase">PT</a>
      </div>
      <ul class="sidebar-menu">
          <li class="menu-header">Dash</li>
          <li>
              <a class="nav-link" [routerLink] = "['/super-admin/dashboard']"><i class="fas fa-tachometer-alt "></i> <span>Dashboard</span></a>
          </li>
      </ul>
      <ul class="sidebar-menu">
          <li class="menu-header">Lists</li>
          <li>
            <a class="nav-link" [routerLink] = "['/super-admin/category/list']"><i class="fas fa-sticky-note"></i> <span>Categories</span></a>
        </li>
        <li>
            <a class="nav-link" [routerLink] = "['/super-admin/customer/list']"><i class="fas fa-users"></i> <span>Users</span></a>
        </li>
        <!-- <li>
            <a class="nav-link" [routerLink] = "['/super-admin/subadmin/list']"><i class="fas fa-user"></i> <span>Subcategory Admins</span></a>
        </li> -->
        <li>
          <a class="nav-link" [routerLink] = "['/super-admin/post/list']"><i class="fas fa-list-ul"></i> <span>Posts</span></a>
        </li>
        <li>
          <a class="nav-link" [routerLink] = "['/super-admin/ad/list']"><i class="fas fa-hand-o-right"></i> <span>Ads</span></a>
        </li>
      </ul>
      <ul class="sidebar-menu">
          <li class="menu-header">Subcategory Admins</li>
          <li>
            <a class="nav-link" [routerLink] = "['/super-admin/subadmin/list']"><i class="fas fa-user"></i> <span>On Going</span></a>
          </li>
          <li>
              <a class="nav-link" [routerLink] = "['/super-admin/subadmin/list/terminated']"><i class="fas fa-question-circle"></i> <span>Terminated</span></a>
          </li>
          <!-- <li>
              <a class="nav-link" href="#"><i class="fas fa-file"></i> <span>Terms of Use</span></a>
          </li> -->
      </ul>
      <ul class="sidebar-menu">
          <li class="menu-header">Profile</li>
          <li>
              <a class="nav-link" [routerLink] = "['/super-admin/profile']"><i class="fas fa-folder"></i> <span>Account</span></a>
          </li>
      </ul>

  </aside>
</div>
