  <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Subcategories for {{category.name}}</h1>
      </div>
      <div class="section-body">
        <!-- <div class="row">
          <div class="col-md-12">
            <a [routerLink]="['/super-admin/category/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Category</a>
          </div>
        </div>
        <br> -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Subcategory Name</th>
                    <th>Subcategory Description</th>
                    <th>Date of Creation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subcategory of subcategoryList ; let i = index">
                    <ng-container>
                        <td>{{ i + 1}}</td>
                        <td>{{ subcategory.name }}</td>
                        <td>{{ subcategory.description }}</td>
                        <td>{{ subcategory.created_at | date  }}</td>
                    </ng-container>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  
