	<div class="main-content">
		<section class="section">
			<div class="section-header">
				<h1>Dashboard</h1>
			</div>
			<div class="section-body">
				<div class="row">
	
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="card card-statistic-1">
							<div class="card-icon bg-primary">
								<i class="far fa-sticky-note"></i>
							</div>
							<div class="card-wrap">
								<div class="card-header">
									<h4>Categories</h4>
								</div>
								<div class="card-body">
									{{ categoryCount }}
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="card card-statistic-1">
							<div class="card-icon bg-primary">
								<i class="far fa-user"></i>
							</div>
							<div class="card-wrap">
								<div class="card-header">
									<h4>Users</h4>
								</div>
								<div class="card-body">
									{{ customerCount }}
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="card card-statistic-1">
							<div class="card-icon bg-primary">
								<i class="far fa-clipboard"></i>
							</div>
							<div class="card-wrap">
								<div class="card-header">
									<h4>Posts</h4>
								</div>
								<div class="card-body">
									{{ postCount }}
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="card card-statistic-1">
							<div class="card-icon bg-primary">
								<i class="far fa-gem"></i>
							</div>
							<div class="card-wrap">
								<div class="card-header">
									<h4>Subcategories</h4>
								</div>
								<div class="card-body">
									{{ subcategoryCount }}
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</div>

		<!-- END DASHBOARD STATS -->
		<div class="clearfix">
		</div>
		<div class="row" *ngIf="displayChart">
			<div class="col-md-12">
				<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Annual Recap Report</h3>
				</div>
				<div class="box-body">
					<div class="row">
					<div class="col-md-12">
						<p-chart type="line" [data]="data"></p-chart>
					</div>
					</div>
				</div>
				</div>
			</div>
			<!-- </div> -->
		<!-- END PAGE CONTENT-->
		</div>
	