<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a [routerLink]="['/super-admin/dashboard']">
			<img src="../../assets/admin/layout/img/logo.png" alt="logo" class="logo-default" width="64" height="32"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
			  <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		  </div>
		  <!-- END LOGO -->
		  <!-- BEGIN HEADER SEARCH BOX -->
		  <form class="search-form search-form-expanded" action="extra_search.html" method="GET">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Search..." name="query">
			  <span class="input-group-btn">
			  <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			  </span>
			</div>
		  </form>
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" class="img-circle" [src]="this.admin.profile"/>
					<span class="username username-hide-on-mobile">
					{{this.admin.first_name}} </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<!-- <li>
							<a [routerLink]="['/super-admin/profile']">
							<i class="icon-user"></i> My Profile </a>
						</li> -->
						
						<li>
							<a role = "button" (click) = "logout()">
							<i class="fa fa-sign-out" aria-hidden="true"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
