<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Upload 3D Model</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form role="form" [formGroup]="categoryForm" (ngSubmit)="addCategory(categoryForm.value)">
              <div class="card-header">
                <h4>Add Category</h4>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="form-group col-12">
                    <label>Name</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      placeholder="Category Name"
                      [ngClass]="{
                        'is-invalid': name.touched && name.invalid
                      }">
                    <div *ngIf="name.touched && name.invalid" class="invalid-feedback">
                      <p *ngIf="name.getError('required')" class="error-display"> Name is requried! </p>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Description</label>
                    <textarea
                    formControlName = "description"
                    class="form-control text_area"
                    placeholder="Category Description"
                    rows="5"
                    [ngClass]="{
                      'is-invalid': description.touched && description.invalid
                      }"

                    ></textarea>
                    <div *ngIf="description.touched && description.invalid" class="invalid-feedback">
                      <p *ngIf="description.getError('required')" class="error-display"> Description is requried! </p>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit"
                      [disabled]='!categoryForm.valid'
                      class="btn btn-primary btn-lg">Add Category</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-toast position="bottom-right"></p-toast>
