<section class="section">
  <div class="container mt-5">
    <div class="page-error">
      <div class="page-inner">
        <h1>404</h1>
        <div class="page-description">
          The page you were looking for could not be found.
        </div>
      </div>
    </div>
    <div class="simple-footer mt-5">
      Copyright &copy; Stisla 2018
    </div>
  </div>
</section>
