<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Accout</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form role="form" [formGroup]="updateProfileForm" (ngSubmit)="onUdateProfileSubmit()">
              <div class="card-header">
                <h4>Account Details</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-6 col-12">
                    <label>First Name</label>
                    <input
                      type="text"
                      formControlName="first_name"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': first_name.touched && first_name.invalid
                      }">
                    <div *ngIf="first_name.touched && first_name.invalid" class="invalid-feedback">
                      <p *ngIf="first_name.getError('required')" class="error-display"> First Name is requried! </p>
                    </div>
                  </div>

                  <div class="form-group col-md-6 col-12">
                    <label>Last Name</label>
                    <input
                      type="text"
                      formControlName="last_name"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': last_name.touched && last_name.invalid
                      }">
                    <div *ngIf="last_name.touched && last_name.invalid" class="invalid-feedback">
                      <p *ngIf="last_name.getError('required')" class="error-display"> Last Name is requried! </p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6 col-12">
                    <label>Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': email.touched && email.invalid
                      }">
                    <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                      <p *ngIf="email.getError('required')" class="error-display"> Email is requried! </p>
                      <p *ngIf="email.getError('email')" class="error-display"> Invalid email provided! </p>
                    </div>
                  </div>

                  <div class="form-group col-md-6 col-12">
                    <label>Gender</label>
                    <select
                      formControlName="gender"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': gender.touched && gender.invalid
                      }">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div *ngIf="gender.touched && gender.invalid" class="invalid-feedback">
                      <p *ngIf="gender.getError('required')" class="error-display"> Gender is requried! </p>
                    </div>
                  </div>
                </div>

                <p-messages [(value)]="updateProfileMessages"></p-messages>

                <div class="row">
                  <div class="col-md-12">
                      <button type="submit" [disabled]='!updateProfileForm.valid' class="btn btn-primary btn-lg">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
              <div class="card-header">
                <h4>Change Password</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Current Password</label>
                  <input
                    type="password"
                    formControlName="current_password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': currentPassword.touched && currentPassword.invalid
                    }">
                  <div *ngIf="currentPassword.touched && currentPassword.invalid" class="invalid-feedback">
                    <p *ngIf="currentPassword.getError('required')" class="error-display"> Current Password is requried! </p>
                  </div>
                </div>

                <div class="form-group">
                  <label>New Password</label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': newPassword.touched && newPassword.invalid
                    }">
                  <div *ngIf="newPassword.touched && newPassword.invalid" class="invalid-feedback">
                    <p *ngIf="newPassword.getError('required')" class="error-display"> New Password is requried! </p>
                    <p *ngIf="newPassword.getError('minlength')" class="error-display"> Password must have at least 8 characters! </p>
                  </div>
                </div>

                <div class="form-group">
                  <label>Confirm Password</label>
                  <input
                    type="password"
                    formControlName="confirm_password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': confirmPassword.touched && confirmPassword.invalid
                    }">
                  <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="invalid-feedback">
                    <p *ngIf="confirmPassword.getError('required')" class="error-display"> New Password is requried! </p>
                    <p *ngIf="confirmPassword.getError('minlength')" class="error-display"> Password must have at least 8 characters! </p>
                    <p *ngIf="confirmPassword.getError('passwordMismatch')" class="error-display"> Confirm Password mismatch </p>
                  </div>
                </div>

                <p-messages [(value)]="changePasswordMessages"></p-messages>

                <div class="form-group">
                  <button type="submit" [disabled]='!changePasswordForm.valid' class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
