

body
{
    font-family: 'Product Sans' !important;
}

.faded-form-input
{
    font-size: 1.4em;
    font-weight: normal !important;
    color: rgba(103, 119, 239, 0.78);
}

.moded-input
{
    border-radius: 2px;
    border: 1.2px solid #E4EEFC;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    line-height: 50px;
    font-size: 1.15em !important;
}

.moded-fg-text
{
    border-radius: 2px;
    border: 1.2px solid #E5EEFC;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-right: none;
    font-size: 17px !important;
    color: #717791;
}

.preview-image-cont
{
    width: 100%;
    margin: auto;
    text-align: center;
}

.preview-image
{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
    border: 2px solid #fff;
    padding: 5px;
}

.all-images
{
    width: 100%;
    margin: 10px auto 1px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    height: 60px;
    display: inline-block;
    overflow: hidden;
}

.ai-items
{
    margin: auto 5px;
    border: 2px solid white;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.ai-items:hover
{
    border: 2px solid #6777EF;
}

.ops
{
    width: 100%;
    text-align: justify;
    border-radius: 2px;
    padding: 5px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.ops-btn
{
    font-size: 1.1em;
    color: #888;
    transition: all 0.2s ease-in-out !important;
    margin-right: 10px;
    background: #fafafa !important;
    padding: 10px !important;
    border: 2px solid #fafafa !important;
    border-radius: 2px;
    text-transform: capitalize;
    outline: none !important;
}

.ops-btn:hover
{
    background: #e7e7e7 !important;
    color: #444 !important;
}

input[type="file"]
{
    display: none;
}

#fileLabel
{
    background: #fafafa !important;
    color: #888;
    border: 2px solid #fafafa;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: none !important;
    outline: none !important;
    padding: 10px !important;
    min-width: 100px;
    transition: all 0.2s ease-in-out;
    margin: 15px 10px 15px auto;
    position: relative;
    font-size: 1.1em;
    top: 1px;
}

#fileLabel:hover
{
    background: #e7e7e7 !important;
    color: #444 !important;
}

@media (max-width:479px)
{
    .ops-btn,
    #fileLabel
    {
        width: 100%;
        margin: auto;
        border-color: white !important;
    }
}

.paragraph_mod
{
    font-size: 1.2em;
    color: #717791;
    margin-bottom: 2px;
}

.btn-mod
{
    font-size: 1em;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.checkbox-flex
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.checkbox-flex > span
{
    color: #717791;
    margin: auto 8px;
    position: relative;
    top: 1px;
    font-size: 1.1em;
}

.checkboxWrapper
{
    padding: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #6777EF;
}

input[type="checkbox"].control-label
{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid transparent;
    background: transparent;
    margin: 0;
    vertical-align: center;
    transition: all 0.2s linear;
    position: relative;
    top: -1px;
}

input[type="checkbox"].control-label:checked
{
    background-color: #6777EF;
}

input[type="checkbox"].control-label:focus
{
    outline: 0 none;
    box-shadow: none;
}

.submit-btn
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ct-chart,
.ct-chart2
{
    background: transparent !important;
}

.ct-label
{
    font-size: 1.1em !important;
}

.ct-series-a .ct-line
{
    stroke: #6777EF !important;
    stroke-width: 4px;
}

.ct-series-a .ct-point
{
    stroke: #6777EF !important;
}

.ct-series-a .ct-area
{
    fill: #6777EF66 !important;
}

.ct-series-a .ct-bar
{
    stroke: #6777EF !important;
}

.font-weight-bold
{
    font-size: 1.1em;
}

.detail-item
{
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #6777EF;
    background: #6777EF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 4px 0 RGBA(103, 119, 239, .3);
    box-shadow: 0 1px 4px 0 RGBA(103, 119, 239, .3);
}

.di-title
{
    width: 100%;
    margin: 5px auto;
    text-align: justify;
    font-size: 1.0em;
    color: #ccc;
}

.di-value
{
    text-align: justify;
    margin-top: 9px;
    margin-bottom: 0px;
    font-size: 1.3em;
    font-weight: normal;
    color: white;
}

.di-desc
{
    text-align: justify;
    font-size: 1.15em;
    margin-top: 9px;
    color: white;
}

.di-link
{
    width: 90%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #717791;
}

.pc-item
{
    font-family: 'Product Sans';
    width: 100%;
    margin: 15px 8px 5px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.pc-item-title,
.pc-money
{
    margin: 8px auto auto;
    text-align: justify;
    font-size: 1.15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    text-transform: capitalize;
    color: #666;
}

.pc-money
{
    font-weight: normal !important;
}

.pc-item:hover > .preview
{
    -webkit-box-shadow: 0px 0px 11px -3px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(181, 181, 181, 1);
    box-shadow: 0px 0px 11px -3px rgba(181, 181, 181, 1);
}

.preview
{
    transition: all 0.2s ease-in-out;
}

.pc-section
{
    width: 100%;
    margin: auto;
    padding: 0;
    background: #fefefe;
}

.pc-company,
.stars
{
    font-family: 'Product Sans';
    color: RGBA(103, 119, 239, 1.00);
    font-size: 1.3em;
    text-align: justify;
    text-transform: capitalize;
    margin-bottom: 0;
}

.stars
{
    font-family: 'PT Sans Narrow';
    font-size: 1.2em;
    color: #777;
}

.star-count
{
    position: relative;
    top: -1px;
    margin-left: 5px;
    font-family: 'Product Sans';
}

.amount
{
    margin-left: 2px;
}

.see-similar
{
    font-size: 1.2em;
    text-decoration: none !important;
    font-family: 'Product Sans';
    text-transform: lowercase;
    letter-spacing: -0.2px;
    color: #888;
    transition: all 0.3s ease-in-out;
    float: left;
    visibility: hidden;
    opacity: 0;
    margin: 5px auto 0px;
}

.see-similar:hover
{
    color: #333;
}

.pc-item:hover > .see-similar
{
    visibility: visible;
    opacity: 1;
}

.bestseller-tag
{
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: 'Product Sans';
    padding: 0px;
    border-radius: 2px;
    color: RGBA(103, 119, 239, 1.00);
    font-size: 1.1em;
    min-width: 90px;
}

.bt-icon
{
    margin-right: 7px;
    position: relative;
    top: 0px;
}

.star-empty
{
    color: #f1f1f1;
}

.pc-col
{
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 3px;
    overflow: auto;
}

.title
{
    color: RGBA(103, 119, 239, 1.00) !important;
}

.list-group-item
{
    font-size: 1.1em;
}

.general_rating
{
    position: relative;
    top: 6px;
    margin-left: 15px;
}

.review_message
{
    font-size: 1.1em;
}

.user
{
    font-size: 1.2em !important;
}

.bordered
{
    border: 3px solid RGBA(103, 119, 239, 1.00);
    padding: 5px;
}

.reply_date
{
    position: relative;
    top: 11px;
    color: #6777EF;
}

.author-box-description
{
    font-size: 1.1em;
}

.replyback
{
}

.helpHeader
{
    width: 100%;
    margin: auto;
    min-height: 250px !important;
    text-align: center;
    background: tranparetn;
    display: block;
    padding-top: 80px;
}

.help_title
{
    color: #fefefe;
}

.input_within
{
    outline: none !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 1.2em;
    color: #6777EF !important;
}

.search_cont:focus-within
{
    border-color: #f1f1f1;
    background: #f1f1f1;
}

.header-custom
{
    background-color: #6777ef !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='150' viewBox='0 0 1600 800'%3E%3Cpath fill='%23ffffff' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235f82d8' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.29' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    border: none !important;
    transition: all 1s ease-in-out;
}

.header-custom:focus-within
{
    background: #6777ef !important;
}

@media (max-width:766.98px)
{
    .search_cont
    {
        width: 85%;
    }
}

@media (max-width:478px)
{
    .search_cont
    {
        width: 99%;
    }
}

.backToTop
{
    position: absolute;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 500px;
    text-align: center;
    background: white;
    border: 2px solid #444;
    color: #444;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 2px 0 rgba(127, 127, 127, 0.1), 0 6px 10px 0 rgba(127, 127, 127, 0.1);
    box-shadow: 0 2px 2px 0 rgba(127, 127, 127, 0.1), 0 6px 10px 0 rgba(127, 127, 127, 0.1);
    font-size: 16px;
}

.backToTop:hover
{
    color: #6777ef;
}

.acordion_mod
{
    background: #fff !important;
    color: #666;
    box-shadow: none !important;
    padding-left: 0;
}

.reply_header:hover
{
    color: #6777EF;
}

.previewImageContainer
{
    float: left;
    text-align: center;
    position: relative;
}

.deteleImageButton
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 500px;
    background-color: rgba(251, 251, 251, .9) !important;
    font-size: 1.2em;
    color: #aaa;
    text-align: center;
    border: 2px solid transparent !important;
    transition: all 0.2s ease-in-out;
}

.deteleImageButton:hover
{
    border: 2px solid #6777EF !important;
    color: #6777EF;
}

.color-input-container
{
    margin: 5px auto;
    border-radius: 3px;
    border: 2px solid #A3AEFF;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
}


.color-input-container:focus-within
{
    border: 2px solid #6777ef;
}

.color_input
{
    margin: 3px 5px 3px 15px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    background: transparent !important;
    flex-grow: 1;
    color: #6777ef;
    font-size: 1.2em;
}

.color-list-item{
  
    width:100%;
    margin:auto;
    display:inline-block;
    align-items: center;
    justify-content: center;
}

