

.link-btn
{
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background: transparent !important;
    font-family: 'Product Sans';
    font-size: 1.1em;
}

.top-nav-responsive
{
    display: none;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: auto;
    z-index: 8888;
    -webkit-box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
    box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
}

.top-nav-responsive > .brand
{
    color: #717791 !important;
    float: left;
    position: relative;
    top: 3px;
}


.humburger-btn,
.search-btn
{
    margin: auto 5px auto 30px;
    color: #777;
    transition: all 0.2s ease-in-out;
    float: left;
    position: relative;
    top: 3px;
    font-size: 1.2em;
}

.humburger-btn:hover,
.search-btn:hover
{
    color: #4FA4D9;
}

.search-btn
{
    float: right;
    margin: auto 40px auto auto;
}

/* sidebar */

.sidebar
{
    width: 270px;
    position: fixed;
    left: -275px;
    bottom: 0;
    top: 0;
    background: #fcfcfc;
    height: 100%;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 5px -1px 5px -5px rgba(224, 224, 224, 1);
    -moz-box-shadow: 5px -1px 5px -5px rgba(224, 224, 224, 1);
    box-shadow: 5px -1px 5px -5px rgba(224, 224, 224, 1);
}

.sidebar-active
{
    left: 0;
}

.sidebar-header
{
    background-color: #f7f7f7;
    height: 200px;
    position: relative;
}

.company-name
{
    text-align: justify;
    float: left;
    position: relative;
    top: -1px;
    margin-left: 35px;
    display: block;
}

.company-name > h3
{
    font-family: "Lindsey";
    font-size: 3em;
    margin: 0px;
    color: #666;
    text-align: justify;
}

.company-name > p
{
    margin-top: 4px;
    color: #BBB;
    position: relative;
    top: -10px;
    font-size: 1.2em;
    font-family: 'Lindsey';
}

.sidebar .company-name
{
    margin-left: auto;
    padding: 20px !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar .company-name > h3
{
    font-size: 3.9em;
}

.sidebar .company-name > p
{
    font-size: 1.1em;
    width: 100%;
    margin: auto;
    top: -1px;
    color: #999;
}

.active-nav
{
    color: #008EF7 !important;
}

.nav-container
{
    padding: 2px;
    margin-top: 40px;
}

.nav-container > ul > li
{
    list-style: none;
    margin-bottom: 10px;
}

.nav
{
    font-family: 'Product Sans';
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
    font-size: 1.3em;
    color: #999;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.nav:hover
{
    color: #666;
}

.responsive-row
{
    width: 88%;
    margin: auto;
    text-align: justify;
}

.footer
{
    width: 100%;
    padding: 30px;
    background: white;
    overflow: hidden;
    display: flex;
    margin: 40px auto auto;
}

.immerce
{
    font-family: 'Lindsey';
    color: #888;
    margin: 3px auto 10px auto;
    font-size: 1.5em;
}

.logo-cont
{
    text-align: center;
    float: left;
}

.footer-list
{
    text-align: center;
    float: right;
    position: relative;
    top: 45px;
}

.footer ul
{
    margin: 0;
    padding: 0;
}

.footer ul > li
{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-item
{
    text-decoration: none !important;
    color: #888;
    margin: 15px 10px;
    letter-spacing: .4px;
    font-size: 1.15em;
    font-family: 'Product Sans';
}

.fl-item:hover
{
    color: #666;
}

.drop_selection
{
    border: 2px solid white;
    border-radius: 2px;
    padding: 11px;
    min-width: 100px;
    font-family: 'Product Sans';
    font-size: 1.2em;
    margin: 10px auto;
    background: white !important;
    color: #777;
    transition: all 0.3s ease-in-out;
}

.drop_selection:hover
{
    border-color: #4D91F0;
}

@media (max-width:850px)
{
    .logo-cont
    {
        width: 100%;
        float: unset;
    }
    .footer-list
    {
        width: 100%;
        text-align: center;
        float: unset;
        position: unset;
        top: unset;
    }
}

@media (max-width: 767px)
{
    .top-nav-responsive
    {
        display: block;
    }
}

@media (max-width:479px)
{
    .footer-list
    {
        margin-top: 20px;
    }
    .footer ul > li
    {
        display: block;
        margin: 5px !important;
    }
}

.desc-row
{
    padding: 20px 18px;
    border-radius: 0px;
    border: 1px solid #fafafa;
    color: #777;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin: 1px 0px;
    background: white;
}

.desc-row:hover
{
    color: #4893E9;
}

@media (max-width:767px)
{
    .desc-row
    {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width:479px)
{
    .desc-row
    {
        padding-left: 7px;
        padding-right: 7px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.search-topbar
{
    width: 230px;
    flex-grow: 1;
    margin-right: 8px;
    border: none !important;
    outline: none !important;
    background: transparent;
    color: #0091EF;
    box-shadow: none !important;
}

.search-row-top
{
    width: 100%;
    margin: auto;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
    box-shadow: 0px 0px 20px -11px rgba(181, 181, 181, 1);
}

.hidebtn
{
    border-radius: 0;
    background: transparent !important;
    border: none !important;
    color: #888;
    outline: none !important;
    box-shadow: none !important;
}

.bar-hidden
{
    display: none;
}

