.mbr-section-btn .btn {
    border-radius: 2px !important;
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 2px !important;
    padding: 1rem 3rem;
}

html,
body {
    font-family: 'Product Sans' !important;
}

.form-control {
    background: #f9f9f9 !important;
    border: 2px solid #f9f9f9;
    outline: none !important;
}


.form-control:focus {
    border: 2px solid #0091EF !important;
}

.display-7,
.display-4 {
    font-family: 'Product Sans' !important;
}
