@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

body {
    font-style: normal;
    line-height: 1.5;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
}

.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
}

.display-1 > .mbr-iconfont {
    font-size: 6.8rem;
}

.display-2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}

.display-2 > .mbr-iconfont {
    font-size: 4.8rem;
}

.display-4 {
    font-family: 'Product Sans';
    font-size: 1rem;
}

.display-4 > .mbr-iconfont {
    font-size: 1.6rem;
}

.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

.display-5 > .mbr-iconfont {
    font-size: 2.4rem;
}

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.display-7 > .mbr-iconfont {
    font-size: 1.6rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 768px) {
    .display-1 {
        font-size: 3.4rem;
        font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 2.4rem;
        font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.8rem;
        font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.2rem;
        font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* Buttons */

.btn {
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}

.btn-sm {
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
}

.btn-md {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
}

.btn-lg {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1.2rem 3.2rem;
    border-radius: 3px;
}

.bg-primary {
    background-color: #6777ef !important;
}

.bg-success {
    background-color: #f7ed4a !important;
}

.bg-info {
    background-color: #82786e !important;
}

.bg-warning {
    background-color: #879a9f !important;
}

.bg-danger {
    background-color: #b1a374 !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #6777ef !important;
    border-color: #6777ef !important;
    color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #2239e8 !important;
    border-color: #2239e8 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #2239e8 !important;
    border-color: #2239e8 !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #ff3366 !important;
    border-color: #ff3366 !important;
    color: #ffffff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: #ffffff !important;
    background-color: #e50039 !important;
    border-color: #e50039 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #e50039 !important;
    border-color: #e50039 !important;
}

.btn-info,
.btn-info:active {
    background-color: #82786e !important;
    border-color: #82786e !important;
    color: #ffffff !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: #ffffff !important;
    background-color: #59524b !important;
    border-color: #59524b !important;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #59524b !important;
    border-color: #59524b !important;
}

.btn-success,
.btn-success:active {
    background-color: #f7ed4a !important;
    border-color: #f7ed4a !important;
    color: #3f3c03 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: #3f3c03 !important;
    background-color: #eadd0a !important;
    border-color: #eadd0a !important;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #3f3c03 !important;
    background-color: #eadd0a !important;
    border-color: #eadd0a !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #879a9f !important;
    border-color: #879a9f !important;
    color: #ffffff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: #ffffff !important;
    background-color: #617479 !important;
    border-color: #617479 !important;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #ffffff !important;
    background-color: #617479 !important;
    border-color: #617479 !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #b1a374 !important;
    border-color: #b1a374 !important;
    color: #ffffff !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: #ffffff !important;
    background-color: #8b7d4e !important;
    border-color: #8b7d4e !important;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #8b7d4e !important;
    border-color: #8b7d4e !important;
}

.btn-white {
    color: #333333 !important;
}

.btn-white,
.btn-white:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #808080 !important;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: #808080 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #808080 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important;
}

.btn-black,
.btn-black:active {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: #ffffff !important;
    background-color: #0d0d0d !important;
    border-color: #0d0d0d !important;
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #0d0d0d !important;
    border-color: #0d0d0d !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background: none;
    border-color: #172ed9;
    color: #172ed9;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #ffffff;
    background-color: #6777ef;
    border-color: #6777ef;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #6777ef !important;
    border-color: #6777ef !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background: none;
    border-color: #cc0033;
    color: #cc0033;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #ffffff;
    background-color: #ff3366;
    border-color: #ff3366;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #ff3366 !important;
    border-color: #ff3366 !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background: none;
    border-color: #4b453f;
    color: #4b453f;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #ffffff;
    background-color: #82786e;
    border-color: #82786e;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #82786e !important;
    border-color: #82786e !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background: none;
    border-color: #d2c609;
    color: #d2c609;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #3f3c03;
    background-color: #f7ed4a;
    border-color: #f7ed4a;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #3f3c03 !important;
    background-color: #f7ed4a !important;
    border-color: #f7ed4a !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background: none;
    border-color: #55666b;
    color: #55666b;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #ffffff;
    background-color: #879a9f;
    border-color: #879a9f;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #879a9f !important;
    border-color: #879a9f !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background: none;
    border-color: #7a6e45;
    color: #7a6e45;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #ffffff;
    background-color: #b1a374;
    border-color: #b1a374;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #b1a374 !important;
    border-color: #b1a374 !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background: none;
    border-color: #000000;
    color: #000000;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
}

.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
    background: none;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
}

.text-primary {
    color: #6777ef !important;
}

.text-secondary {
    color: #ff3366 !important;
}

.text-success {
    color: #f7ed4a !important;
}

.text-info {
    color: #82786e !important;
}

.text-warning {
    color: #879a9f !important;
}

.text-danger {
    color: #b1a374 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-black {
    color: #000000 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #172ed9 !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: #cc0033 !important;
}

a.text-success:hover,
a.text-success:focus {
    color: #d2c609 !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #4b453f !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #55666b !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #7a6e45 !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #b3b3b3 !important;
}

a.text-black:hover,
a.text-black:focus {
    color: #666 !important;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #82786e;
}

.alert-warning {
    background-color: #879a9f;
}

.alert-danger {
    background-color: #b1a374;
}

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
    box-shadow: none !important;
}

.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #6777ef;
    border-color: #6777ef;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

.btn-form {
    border-radius: 0;
}

.btn-form:hover {
    cursor: pointer;
}

a,
a:hover {
    color: #6777ef;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #beb8b2;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ced6d8;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #dfd9c6;
}

/* Scroll to top button*/

.scrollToTop_wraper {
    display: none;
}

#scrollToTop a i:before {
    content: '';
    position: absolute;
    height: 40%;
    top: 25%;
    background: #fff;
    width: 2px;
    left: calc(50% - 1px);
}

#scrollToTop a i:after {
    content: '';
    position: absolute;
    display: block;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 40%;
    height: 40%;
    left: 30%;
    bottom: 30%;
    transform: rotate(135deg);
}

/* Others*/

.note-check a[data-value=Rubik] {
    font-style: normal;
}

.mbr-arrow a {
    color: #ffffff;
}

@media (max-width: 767px) {
    .mbr-arrow {
        display: none;
    }
}

.form-control-label {
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;
}

.alert {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    position: relative;
}

.alert.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
}

.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
}

.form-control > .mbr-iconfont {
    font-size: 1.6rem;
}

.form-control,
.form-control:focus {
    border: 1px solid #e8e8e8;
}

.form-active .form-control:invalid {
    border-color: red;
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

blockquote {
    font-style: italic;
    padding: 10px 0 10px 20px;
    font-size: 1.09rem;
    position: relative;
    border-color: #6777ef;
    border-width: 3px;
}

ul,
ol,
pre,
blockquote {
    margin-bottom: 2.3125rem;
}

pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap;
}

.inactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.mbr-section__comments .row {
    justify-content: center;
}

/* Forms */

.mbr-form .btn {
    margin: .4rem 0;
}

.mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.form2 .form-control {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.form2 .input-group-btn a.btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form2 .input-group-btn button[type="submit"] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form3 input[type="email"] {
    border-radius: 100px !important;
}

@media (max-width: 349px) {
    .form2 input[type="email"] {
        border-radius: 100px !important;
    }
    .form2 .input-group-btn a.btn {
        border-radius: 100px !important;
    }
    .form2 .input-group-btn button[type="submit"] {
        border-radius: 100px !important;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: .75rem !important;
    }
    .btn .mbr-iconfont {
        font-size: 1rem !important;
    }
}

/* Social block */

.btn-social {
    font-size: 20px;
    border-radius: 50%;
    padding: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    position: relative;
    border: 2px solid #c0a375;
    border-color: #6777ef;
    color: #232323;
    cursor: pointer;
}

.btn-social i {
    top: 0;
    line-height: 44px;
    width: 44px;
}

.btn-social:hover {
    color: #fff;
    background: #6777ef;
}

.btn-social + .btn {
    margin-left: .1rem;
}

/* Footer */

.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
    background: #6777ef;
}

.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
    color: #6777ef;
}

.footer3 input[type="email"],
.footer4 input[type="email"] {
    border-radius: 100px !important;
}

.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
    border-radius: 100px !important;
}

.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
}

/* Headers*/

.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
    border-radius: 100px;
}

.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
    border-radius: 100px;
}

.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
    border-radius: 100px;
}

.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
    border-radius: 100px;
}

.header13 .form-inline button,
.header14 .form-inline button {
    border-radius: 100px !important;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .offset-sm-0 {
        margin-left: 0%;
    }
    .offset-sm-1 {
        margin-left: 8.33333%;
    }
    .offset-sm-2 {
        margin-left: 16.66667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.33333%;
    }
    .offset-sm-5 {
        margin-left: 41.66667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.33333%;
    }
    .offset-sm-8 {
        margin-left: 66.66667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.33333%;
    }
    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .offset-md-0 {
        margin-left: 0%;
    }
    .offset-md-1 {
        margin-left: 8.33333%;
    }
    .offset-md-2 {
        margin-left: 16.66667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.33333%;
    }
    .offset-md-5 {
        margin-left: 41.66667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.33333%;
    }
    .offset-md-8 {
        margin-left: 66.66667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.33333%;
    }
    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .offset-lg-0 {
        margin-left: 0%;
    }
    .offset-lg-1 {
        margin-left: 8.33333%;
    }
    .offset-lg-2 {
        margin-left: 16.66667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.33333%;
    }
    .offset-lg-5 {
        margin-left: 41.66667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.33333%;
    }
    .offset-lg-8 {
        margin-left: 66.66667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.33333%;
    }
    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .offset-xl-0 {
        margin-left: 0%;
    }
    .offset-xl-1 {
        margin-left: 8.33333%;
    }
    .offset-xl-2 {
        margin-left: 16.66667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333%;
    }
    .offset-xl-5 {
        margin-left: 41.66667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333%;
    }
    .offset-xl-8 {
        margin-left: 66.66667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333%;
    }
    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}

.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.navbar-toggler-left {
    position: absolute;
    left: 1rem;
}

.navbar-toggler-right {
    position: absolute;
    right: 1rem;
}

@media (max-width: 575px) {
    .navbar-toggleable .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-toggleable {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-toggleable .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-toggleable > .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-sm > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-toggleable-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-sm .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-toggleable-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-toggleable-sm > .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-sm .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable-sm .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-md > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-toggleable-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-toggleable-md > .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-md .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }
}

@media (max-width: 1199px) {
    .navbar-toggleable-lg .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-lg > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-toggleable-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-toggleable-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-toggleable-lg > .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100%;
    }
    .navbar-toggleable-lg .navbar-toggler {
        display: none;
    }
}

.navbar-toggleable-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggleable-xl .navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-toggleable-xl > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggleable-xl .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-toggleable-xl .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-toggleable-xl > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggleable-xl .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
}

.navbar-toggleable-xl .navbar-toggler {
    display: none;
}

.card-img {
    width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
    flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: initial !important;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.cid-qTkA127IK8 {
    background-color: #444 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='150' viewBox='0 0 1600 800'%3E%3Cpath fill='%23ffffff' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235f82d8' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.29' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    transition: all 1s ease-in-out;
}

.cid-qTkA127IK8 H1 {
    text-align: center;
    color: #6777ef;
}

.cid-qTkA127IK8 .mbr-text,
.cid-qTkA127IK8 .mbr-section-btn {
    color: #6777ef;
}

.cid-rmKxKt0e0p {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f9f9f9;
}

.cid-rmKxKt0e0p .mbr-text {
    color: #767676;
}

.cid-rmKxKt0e0p h4 {
    text-align: center;
}

.cid-rmKxKt0e0p p {
    text-align: center;
    font-size: 1.1em;
    color: #555;
}

.cid-rmKxKt0e0p .card-img span {
    font-size: 96px;
    color: #149dcc;
}

.cid-rmKxKt0e0p .card-title,
.cid-rmKxKt0e0p .card-img {
    color: #6777ef;
}

.cid-rmKxktGmua {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.cid-rmKxktGmua .mbr-section-subtitle {
    color: #767676;
}

.cid-rmKxlCbK6r {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.cid-rmKxlCbK6r .mbr-text,
.cid-rmKxlCbK6r blockquote {
    color: #555;
    font-size: 1.1em;
}

.cid-rmKAhHgP2D {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f9f9f9;
}

.cid-rmKAhHgP2D h2 {
    text-align: left;
}

.cid-rmKAhHgP2D h4 {
    text-align: left;
    font-weight: 500;
}

.cid-rmKAhHgP2D p {
    color: #555;
    text-align: left;
    font-size: 1.1em;
}

.cid-rmKAhHgP2D .aside-content {
    flex-basis: 100%;
}

.cid-rmKAhHgP2D .block-content {
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    word-break: break-word;
}

.cid-rmKAhHgP2D .media {
    margin: initial;
    align-items: center;
}

.cid-rmKAhHgP2D .mbr-figure {
    align-self: flex-start;
    -webkit-align-self: flex-start;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.cid-rmKAhHgP2D .card-img {
    padding-right: 2rem;
    width: auto;
}

.cid-rmKAhHgP2D .card-img span {
    font-size: 72px;
    color: #707070;
}

@media (min-width: 992px) {
    .cid-rmKAhHgP2D .mbr-figure {
        padding-right: 4rem;
    }
}

@media (max-width: 991px) {
    .cid-rmKAhHgP2D .mbr-figure {
        padding-right: 0;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 300px) {
    .cid-rmKAhHgP2D .card-img span {
        font-size: 40px !important;
    }
}

.cid-rmKMalsrxb {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

@media (min-width: 992px) {
    .cid-rmKMalsrxb .mbr-figure {
        padding-left: 4rem;
    }
}

@media (max-width: 992px) {
    .cid-rmKMalsrxb .mbr-figure {
        padding-top: 1rem;
    }
}

.cid-rmKMalsrxb .mbr-text {
    color: #555;
    font-size: 1.1em;
}

.cid-rmKz54Eyz0 {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}

.cid-rmKz54Eyz0 .title {
    margin-bottom: 2rem;
}

.cid-rmKz54Eyz0 .mbr-section-subtitle {
    color: #767676;
}

.cid-rmKz54Eyz0 a:not([href]):not([tabindex]) {
    color: #fff;
    border-radius: 3px;
}

.cid-rmKz54Eyz0 a.btn-white:not([href]):not([tabindex]) {
    color: #333;
}

.cid-rmKz54Eyz0 .multi-horizontal {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 100%;
}

.cid-rmKz54Eyz0 .input-group-btn {
    display: block;
    text-align: center;
}

.cid-rmKxmZpgUc {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2e2e2e;
}

.cid-rmKxmZpgUc .line {
    background-color: #ffffff;
    color: #ffffff;
    align: center;
    height: 2px;
    margin: 0 auto;
}

.cid-rmKxmZpgUc .section-text {
    padding: 2rem 0;
}

.cid-rmKxmZpgUc .inner-container {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .cid-rmKxmZpgUc .inner-container {
        width: 100% !important;
    }
}

.cid-rmKz0gfup8 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .cid-rmKz0gfup8 .media-wrap {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.cid-rmKz0gfup8 .media-wrap .mbr-iconfont-logo {
    font-size: 7rem;
    color: #f36;
}

.cid-rmKz0gfup8 .media-wrap img {
    height: 6rem;
}

.cid-rmKz0gfup8 .mbr-text {
    color: #767676;
}

@media (max-width: 767px) {
    .cid-rmKz0gfup8 .footer-lower .copyright {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.cid-rmKz0gfup8 .footer-lower hr {
    margin: 1rem 0;
    border-color: #000;
    opacity: .05;
}

.cid-rmKz0gfup8 .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.cid-rmKz0gfup8 .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
}

.cid-rmKz0gfup8 .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
}

.cid-rmKz0gfup8 .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.cid-rmKz0gfup8 .footer-lower .social-list a:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-rmKz0gfup8 .footer-lower .social-list {
        justify-content: center;
        -webkit-justify-content: center;
    }
}

.cid-rmKz0gfup8 .links {
    color: #555;
    cursor: hand;
}
