<div id="app">
  <div class="main-wrapper main-wrapper-1">
      <app-admin-navbar></app-admin-navbar>
      <app-admin-sidebar></app-admin-sidebar>
      <router-outlet></router-outlet>
      <app-admin-footer></app-admin-footer>
  </div>
</div>
