<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>List of Terminated Subcategory Administrators</h1>
    </div>
    <div class="section-body">
      <!-- <div class="row">
        <div class="col-md-12">
          <a [routerLink]="['/super-admin/category/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Category</a>
        </div>
      </div> -->
      <!-- <br> -->
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Company Name</th>
                  <th>Subcategory Name</th>
                  <th>Email</th>
                  <th>Registered on</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subadmin of subadminList ; let i = index">
                  <ng-container>
                      <td (click)="goToDetail(subadmin)">{{ i + 1}}</td>
                      <td (click)="goToDetail(subadmin)">{{ subadmin.company_name }}</td>
                      <td (click)="goToDetail(subadmin)">{{ subadmin.subcategory_id.name }}</td>
                      <td (click)="goToDetail(subadmin)">{{ subadmin.user_id.email }}</td>
                      <td (click)="goToDetail(subadmin)">{{ subadmin.created_at | date  }}</td>
                      <!-- <td>
                        <ng-container *ngIf="!subadmin.is_verified">
                          <button class="btn btn-info btn-sm btn-icon" (click)="verify(subadmin)">Verify</button>
                        </ng-container>
                      </td> -->
                      

                      <ng-container *ngIf="subadmin.is_verified">
                          <ng-container *ngIf="!subadmin.is_terminated">
                            <td>                          
                              <button class="btn btn-danger btn-sm btn-icon" (click)="setTerminate(subadmin, 'true')">Terminate</button>
                            </td>
                          </ng-container>
                        
                          <ng-container *ngIf="subadmin.is_terminated">
                            <td>                          
                              <button class="btn btn-success btn-sm btn-icon" (click)="setTerminate(subadmin, 'false')">Retain</button>
                            </td>
                          </ng-container>
                        
                      </ng-container>
                      <!-- <ng-container *ngIf="!subadmin.is_verified">
                        <td></td>
                      </ng-container> -->
                  </ng-container>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<p-toast position="bottom-right"></p-toast>











