<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Post Categories</h1>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-md-12">
            <a [routerLink]="['/super-admin/category/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Category</a>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Date of Creation</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categoryList ; let i = index">
                    <ng-container (click)="selectCategory(category)">
                        <td>{{ i + 1}}</td>
                        <td (click)="selectCategory(category)">{{ category.name }}</td>
                        <td (click)="selectCategory(category)">{{ category.description }}</td>
                        <td (click)="selectCategory(category)">{{ category.created_at | date  }}</td>
                        <td><button class="btn btn-info btn-sm btn-icon" (click)="editCategory(category)">Details</button></td>
                    </ng-container>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
