<app-super-admin-header></app-super-admin-header>
<!-- BEGIN SIDEBAR -->
<div class="clearfix">
  </div>
<div class="page-container">

    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="margin-top:25px;">
            
            <li class="start ">
              <a [routerLink]="['/super-admin/dashboard']">
              <i class="icon-home"></i>
              <span class="title">Dashboard</span>
              </a>
              
            </li>

            <li >
              <a [routerLink]="['/super-admin/category/list']" >
              <i class="fa fa-area-chart" aria-hidden="true"></i>
              <span class="title">Categories</span>
              </a>
              
            </li>

            <li >
                <a [routerLink]="['/super-admin/subadmin/list']" >
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="title">Subcategory Admins</span>
                </a>
                
              </li>

            <li >
              <a [routerLink]="['/super-admin/customer/list']" >
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="title">Customers</span>
              </a>
              
            </li>

              <li >
                  <a [routerLink]="['/super-admin/post/list']" >
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                  <span class="title">Posts</span>
                  </a>
                  
                </li>

              
            
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
      </div>
      <div class="page-content-wrapper">
        <router-outlet></router-outlet>
      </div>

<!-- END SIDEBAR -->
</div>

<app-super-admin-footer></app-super-admin-footer>
