<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>List of Customers</h1>
      </div>
      <div class="section-body">
        <!-- <div class="row">
          <div class="col-md-12">
            <a [routerLink]="['/super-admin/category/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Category</a>
          </div>
        </div> -->
        <!-- <br> -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Bio</th>
                    <th>Registered on</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customerList ; let i = index">
                    <ng-container>
                        <td>{{ i + 1}}</td>
                        <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                        <td>{{ customer.user_id.email }}</td>
                        <td>{{ customer.age }}</td>
                        <td>{{ customer.bio }}</td>
                        <td>{{ customer.created_at | date  }}</td>
                    </ng-container>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <p-toast position="bottom-right"></p-toast>








