<div class="page-footer">
	<div class="page-footer-inner text-right">
		<div>
			<!-- 2019 &copy; PinThis by keenthemes. <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Pin This!</a> -->
		</div>
		 
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
