

.footerDash
{
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(rgba(92, 108, 171, 0.85), rgba(92, 108, 171, 0.85));
}

.addBranchContainer
{
    width: 95%;
    margin: auto auto 20px;
    min-height: 100vh;
    border-radius: 0;
    background-color: rgba(235, 235, 235, 0.32);
}

.logoSelectorContainer
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.chooseLogoForm
{
    margin: auto;
    margin-top: 20px;
    height: 50px;
}

input[type="file"]
{
    display: none;
}

#fileLabel
{
    padding: 10px 15px;
    background: RGBA(41, 214, 128, 1.00);;
    font-weight: 400;
    border-radius: 500px;
    border: 2px solid RGBA(41, 214, 128, 1.00);;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
    text-overflow: ellipsis;
    min-width: 120px;
    text-align: center;
}

#fileLabel:hover
{
    background: white;
    color: RGBA(41, 214, 128, 1.00);;
}

.upload_btn{
    padding: 8px;
    border: 2px solid #666;
    background: #666;
    color: white !important;
    border-radius: 2px;
}

.pageHeaderTitle
{
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: 1px;
}
#pageOne{
    widows: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
}

.side-row{
    flex-grow: 1;
    padding: 5px 15px;
}

.logoSelectorContainer{
    min-width: 320px;

}

.button-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}


.modalInput
{
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    height: 100%;
}

.btnCustom
{
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    border: 2px solid RGBA(234, 234, 234, 0.85);
    background: RGBA(41, 214, 128, 1.00);
    color: white;
    margin-top: 10px;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 10px;
}


.btnCustom:hover
{
    background: white;
    color: RGBA(41, 214, 128, 1.00);
}

@media (max-width:767px)
{
    .btnCustom
    {
        width: 100%;
        margin: auto;
    }
}

.formRow
{
    width: 100%;
    margin: auto;
    padding: 10px;
    background: rgba(252, 252, 252, 1);
    margin-bottom: 4px;
}

.inputCustom
{
    height: 100%;
    padding: 10px;
    border-radius: 0;
    border-color: rgba(248, 248, 248, 1);
    box-shadow: none !important;
    outline: none !important;
}

.selectionButton {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.selectionButton:hover > span {
    color: RGBA(68, 151, 203, 1.00);
}