

.branchMainContainer
{
    min-height: 100vh;
    margin: auto;
}



.topMenuContainer
{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #e5e5e5;
}

#add
{
    float: left;
}

.addBtnText
{
    float: right;
    margin-top: 5px;
    color: #5B75A0;
}

.addBranchBtn
{
    color: #5B75A0;
    margin-top: 20px;
    border: 2px solid #5B75A0;
}


.addBranchBtn:hover
{
    background-color: #5B75A0;
}

.addBranchBtn:hover > .addBtnText
{
    fill: white;
    color: white;
}

.addBranchBtn:hover > #add > #addPath
{
    fill: white;
}

.branchContainer
{
    width: 100%;
    background-color: rgba(227, 227, 227, 0.38);
    padding: 20px 0 0;
    margin: 20px auto;
}

.branchDescryptionItem
{
    margin-bottom: 10px;
}

.AdminContainer
{
    background-color: rgba(12, 12, 12, 0.07);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.adminContainerRow
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.bottomMenuContainer
{
    padding: 10px;
}

.btmMenuBtns
{
    border-radius: 0;
    margin-right: 10px;
    background: transparent;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btmMenuBtns:hover
{
    background: transparent;
}

.btmMenuBtns:hover > svg > path
{
    fill: #4497CB;
}

.modalStyle
{
    border-radius: 0;
}

.addAdminModalinput
{
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
}

.submitBtn,
.closeBtn
{
    width: 120px;
    margin-right: 10px;
}

.confirmModal
{
}


.searchBtn
{
    margin-top: 3px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    float: left;
    padding-bottom: 2px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: rgba(127,127,127, 1);
}

.searchBtn:hover
{
    color: RGBA(26, 116, 244, 1.00);
}

button:foucs,
button:active
{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.searchContainer
{
    color: #000000;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.74);
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: 5px;
}

.searchInput
{
    padding: 20px 5px;
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0) !important;
    border-right: 1px solid rgba(0, 0, 0, 0) !important;
    border-top: 1px solid rgba(0, 0, 0, 0) !important;
    border-bottom: 2px solid rgba(127, 127, 127, 1);
    box-shadow: none;
    outline: none;
    color: #262626;
    background-color: transproduct;
}

.searchInput:focus
{
    outline: none !important;
    box-shadow: none;
}

.searchInput:active
{
    outline: none !important;
    box-shadow: none;
}

.addParentBtn
{
    color: #838383;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    border: 2px solid rgba(255,255,255,0.72);
    transition: all 0.3s ease-in-out;
}
.addParentEditBtn
{
    color: #838383;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    border: 2px solid rgba(255,255,255,0.72);
    transition: all 0.3s ease-in-out;
}
.addParentEditBtn:hover
{
    border: 2px solid rgba(127,127,127,1);
    background-color: transparent;
}
.addParentBtn:hover
{
    border: 2px solid rgba(127,127,127,1);
    background-color: transparent;
}

