<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>List of Posts</h1>
      </div>
      <div class="section-body">
        <!-- <div class="row">
          <div class="col-md-12">
            <a [routerLink]="['/super-admin/category/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Category</a>
          </div>
        </div> -->
        <!-- <br> -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Subcategory</th>
                    <th>Posted On</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of postList ; let i = index">
                    <ng-container>
                        <td>{{ i + 1}}</td>
                        <td><img class="preview" [src]="concat(post.image_paths[0])" width='32' height='32'></td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.subcategory_id.name }}</td>
                        <td>{{ post.created_at | date  }}</td>
                        <td><button class="btn btn-danger btn-sm btn-icon" (click)="removePost(post)">Remove</button></td>
                    </ng-container>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <p-toast position="bottom-right"></p-toast>




