<div class="main-container">
  <div class="register-content">
    <img src="assets/svg/loginsvg.svg" width="280px" />
    <h3 class="header" style="margin-bottom: 5px">Login</h3>
    <!-- <p class="notifier" style="font-size: 1em; text-align: center; margin-bottom: 25px">Don't have account yet? <a href="/company-registration" class="lg_link">register</a></p> -->

    <div *ngIf="authenticationStatus === 1" class="alert alert-danger">
      <b>Login Failed:</b> Invalid email or password!
    </div>

    <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="email"
        class="form-control moded-inputs"
        placeholder="Email"
        [ngClass]="{
          'is-invalid': email.touched && email.invalid
        }">
      <div class="invalid-feedback">
        Email is Required!
      </div>
      <div class="form-gp"></div>


      <input
        type="password"
        formControlName="password"
        class="form-control moded-inputs"
        placeholder="Password"
        [ngClass]="{
          'is-invalid': password.touched && password.invalid
        }">
      <div class="invalid-feedback">
        Password is Required!
      </div>



      <div class="form-gp" style="padding-top: 10px;">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="btn btn-default submit">
          Submit
        </button>
        <!-- <p class="notifier" style="font-size: 1em; text-align: center; margin-top: 12px"> <a href="#" class="lg_link"> forgot password?</a></p> -->
      </div>
    </form>
    <div class="form-gp" style="padding-top: 5px; border-top: 1px solid #f5f5f5"></div>
  </div>
</div>
