

body
{
    font-family: 'Product Sans';
}

.main-container
{
    background: #f8f8f8;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.register-content
{
    width: 450px;
    background: transparent;
    min-height: 100vh;
    padding: 30px 10px;
    text-align: center;
}

.moded-input
{
    border: 2px solid white;
    box-shadow: none !important;
    background: white;
    outline: none !important;
    font-family: 'Product Sans';
    padding: 12px 8px;
    border-radius: 2px;
    font-size: .95em;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
    margin: 10px auto;
    text-transform: capitalize;
    color: #717791;
    width: 100%;
}

.moded-input:focus
{
    border-color: #6777EF;
}

.form-gp
{
    width: 100%;
    margin: 20px auto;
}

.form-gp > .moded-input
{
    width: 100%;
    margin: auto;
}

.fg-label
{
    font-size: 1.2em;
    font-weight: 100;
    color: #717791;
    text-transform: capitalize;
    font-family: 'Product Sans';
    letter-spacing: .5px;
    text-align: justify;
    margin: 20px auto;
}

@media (max-width:479px)
{
    .register-content
    {
        width: 100%;
        margin: auto;
    }
}

.header
{
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    margin-top: 11px;
    font-family: 'Product Sans';
}

.notifier
{
    text-align: justify;
    color: #717791;
    font-size: .9em;
    margin-top: 7px;
}

.submit
{
    padding: 10px 10px 9px;
    font-weight: 300;
    font-family: 'Product Sans';
    width: 100%;
    margin: auto;
    border: 2px solid #6777EF;
    background: #6777EF;
    color: white;
    font-size: 1.0em;
    text-transform: capitalize;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
}

.submit:hover
{
    background: white;
    color: #717791;
    border-color: #717791;
}

.lg_link
{
    color: #717791;
}

