 <!-- Main Content -->
 <div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Add Advertisment</h1>
        </div>
        <div class="section-body">
            <form [formGroup] = "itemForm"  (ngSubmit) = "addAd()">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="faded-form-input">Ad Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label">Ad Name</label>
                                    <input
                                    formControlName = "name"
                                    type="text"
                                    class="form-control moded-input"
                                    placeholder=" Ad Name"
                                    [ngClass]="{
                                      'is-invalid': f.name.touched && f.name.invalid
                                    }">
                                    <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback">
                                      <p *ngIf="f.name.getError('required')" class="error-display"> Item Name is requried! </p>
                                    </div>
  
  
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Ad Description</label>
                                    <textarea
                                    formControlName = "description"
                                    class="form-control text_area"
                                    placeholder="Ad Description"
                                    rows="5"
                                    [ngClass]="{
                                      'is-invalid': f.description.touched && f.description.invalid
                                      }"
  
                                    ></textarea>
                                    <div *ngIf="f.description.touched && f.description.invalid" class="invalid-feedback">
                                          <p *ngIf="f.description.getError('required')" class="error-display"> Product Description  is requried! </p>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <button
                                    [disabled]="!itemForm.valid || !imageUploaded"
                                    class="btn btn-mod btn-primary submit-btn" type="submit"  >Add Ad</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="faded-form-input">Ad Image</h3>
  
                            </div>
  
                            <div class="card-body">
  
                                <div class="preview-image-cont" style="overflow: hidden">
                                    <ng-container *ngIf="!img">
                                        <img class="preview-image" alt="preview image"  src="/assets/furniture/furniture1.svg">
                                    </ng-container>
                                    <ng-container *ngIf="img">
                                        <img class="preview-image" alt="preview image"  [src]=img>
                                    </ng-container>
                                </div>
                                <!-- <div class="row all-images">
                                  <div *ngFor="let img of imgs;i as index" class="previewImageContainer">
                                      <button *ngIf="removeImage && imgs.length >0 " (click)= "removeImageFromList(img)" type="button" class="btn btn-default deteleImageButton">
                                          <i class="fa fa-times closeClass"></i>
                                      </button>
                                      <img  [src]=img width="50" height="50"  class="ai-items" id="pre1">
                                  </div>
  
                                    <img  *ngIf="imgs.length < 1" width="50" height="50" src="/assets/furniture/furniture1.svg" class="ai-items" id="pre2">
                                    <img  *ngIf="imgs.length < 2" width="50" height="50" src="/assets/furniture/furniture2.svg" class="ai-items" id="pre2">
                                    <img  *ngIf="imgs.length < 3" width="50" height="50" src="/assets/furniture/furniture3.svg" class="ai-items" id="pre3">
                                </div> -->
                                <p-toast ></p-toast>
                                <div *ngIf="!imageUploaded"><div class="alert alert-warning" role="alert">
                                  Ad Image is required
                                </div></div>
                                <div class="ops">
                                    <label id="fileLabel" class="text-center">Choose Image
                                        <input type="file" ng2FileSelect [uploader]="uploader"  id="actualFileBtn" accept="image/*">
                                    </label>
                                    <!-- <button *ngIf="!removeImage " type="button" class="link-btn ops-btn"  (click) = "removeToggle()" > Remove Image
                                    </button>
                                    <button *ngIf="removeImage && imgs.length >0 " type="button" class="link-btn ops-btn"  (click) = "removeToggle()" > Save/Cancel
                                      </button>
                                    <button type="button" (click) = "upload()" id="uploadBtn" class="link-btn ops-btn">
                                      <i class="fa fa-upload"></i> Upload All
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                </div>
            </form>
        </div>
    </section>
  </div>
  


