<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Ads</h1>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <a [routerLink]="['/super-admin/ad/add']" class="btn btn-lg btn-icon icon-left btn-success pull-right"><i class="fas fa-plus"></i> Add Advertisment</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-borderless">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Subcategory Name</th>
                  <th>Subcategory Description</th>
                  <th>Date of Creation</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subcategory of subcategoryList ; let i = index">
                  <ng-container>
                      <td>{{ i + 1}}</td>
                      <td>{{ subcategory.name }}</td>
                      <td>{{ subcategory.description }}</td>
                      <td>{{ subcategory.created_at | date  }}</td>
                      <td><button class="btn btn-danger btn-sm btn-icon" (click)="removeAd(subcategory)">Remove</button></td>
                  </ng-container>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-toast position="bottom-right"></p-toast>

